<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses - Online Learning Platform</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/student/my_courses.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{%url 'home'%}">Home</a>
        <a href="{%url 'courses'%}">Courses</a>
        <a href="#">Reminders</a>
        <a href="{%url 'my_courses'%}">My Courses</a>
        
        <input type="text" id="searchInput" style="color: black;" placeholder="Search courses...">
        <span class="search-icon" onclick="searchCourses()">🔍</span>
        <a href="{% url 'c_profile'%}" class="profile">👤 Profile</a>
    </div>
    <div class="my-courses-container">
        <div class="course-card">
            <h3>Web Development</h3>
            <p>Instructor: John Doe</p>
            <div class="progress-bar">
                <div class="progress" style="width: 70%;"></div>
            </div>
            <p>Progress: 70%</p>
        </div>
        <div class="course-card">
            <h3>Machine Learning</h3>
            <p>Instructor: Jane Smith</p>
            <div class="progress-bar">
                <div class="progress" style="width: 40%;"></div>
            </div>
            <p>Progress: 40%</p>
        </div>
    </div>
</body>
</html>
